@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Work Sans", sans-serif;
  background: #333;
  color: whitesmoke;
}

header {
  font-size: 1.5rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form input,
form button {
  padding: 0.5rem;
  border: none;
  border-radius: 10px 0 0 20px;
  background: #555;
  font-size: 2rem;
  color: #fcfcfc;
}

form button {
  border-radius: 0 30px 30px 0;
  width: 5rem;
  color: rgb(238, 139, 97);
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  color: white;
  background: rgb(238, 139, 97);
  transform: scale(1.1);
}
input:focus {
  outline: none;
  transition: all 0.3s ease;
  transform: scale(1.1);
  background: rgb(238, 139, 97);
}
.todo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  background: #555;
  font-size: 1.5rem;
  margin: 1rem;
  border-radius: 10px 0 0 20px;
  transition: all 0.5s;
}
.item-container li {
  flex-grow: 1;
  font-size: 20px;
  padding-left: 1rem;
  transition: all 0.3s;
}

.item-container button {
  font-size: 1rem;
  display: flex;
  border: none;
}
.complete-btn,
.trash-btn {
  color: white;
  background: #ff6f47;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  padding: 1rem;
}
.complete-btn {
  background: rgb(83, 196, 83);
}

.fa-check,
.fa-trash {
  pointer-events: none;
}

/* checked and delete classes */

.checked {
  text-decoration: line-through;
}
.todochecked {
  opacity: 0.5;
}
.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}
